@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding-top: 6rem;
}

/* HEADER */

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-image: radial-gradient(circle at 20% -32%, #FFC236 0%, #FF611F 22%, #CD0EB2 100%);
    /* background: transparent radial-gradient(closest-side at 20% -32%, #FFC236 0%, #FF611F 22%, #CD0EB2 100%) 0% 0% no-repeat padding-box; */
    box-shadow: 0px 20px 40px #00000029;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.main-header__brand-title {
    display: flex;
    align-items: center;
}

.main-header__brand {
    text-decoration: none;
    /* font-weight: bold; */
  }
  
.main-header__brand img {
    height: 2.5rem;
    vertical-align: middle;
} 

.main-header__title {
    font-size: 1.5rem;
    font-weight: 900;
    color: white;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

.main-nav__item {
    margin: 0 1rem;
    font-weight: 400;
    font-size: 1.125rem;
}

.main-nav__item a {
    text-decoration: none;
    color: white;
}

/* GREETING */

.greeting-container {
    height: 40rem;
    display: flex;
    justify-content: center;
}

.greeting__info-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greeting__info--title {
    font-size: 3rem;
    font-weight: 700;
    color: #7E7E7E;
    margin: 1.5rem 0;
}

.greeting__info--main-text {
    font-size: 1.25rem;
    font-weight: 200;
    color: #5F5F5F;
    margin: 0;
}

.greeting__info--connect {
    margin: 1rem 0 0 0;
    display: flex;
    align-items: center;
}

.greeting__info--connect img {
    height: 8rem;
    width: 8rem;
    position: relative;
    right: 2.3rem;
}

.greeting__info--connect p {
    position: relative;
    right: 3.5rem;
    font-size: 1.125rem;
    font-weight: 400;
    color: #FF992C;
    margin: 0 0 1.3rem 0;
}

.greeting__photo {
    background-image: url("images/greeting-photo.png"), url("images/greeting-ellipse.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 25rem, 33rem;
    background-origin: border-box, border-box;
    background-position: right center, 55% 45%;
    width: 35%;
}

/* TOOLS */

.tools-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
}

.tools__items {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.tools__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tools__title {
    font-size: 3.25rem;
    font-weight: 400;
    color: #7E7E7E;
}

.tools__item--title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #5F5F5F;
    margin: 0;
}

.tools__item--image {
    position: relative;
    left: 0.75rem;
}

/* SKILLS */

.skills-container {
    height: 45rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
}

.skills-container > p {
    font-size: 3.25rem;
    font-weight: 400;
    color: #7E7E7E;
}

.skills-blocks-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.skills-block {
    width: 22rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0.6rem 1.25rem 2.5rem #E6E6E6;
    border-radius: 2.1rem;
}

.skills-block__entity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-block__entity > p {
    font-size: 1.25rem;
    font-weight: 400;
    color: #5F5F5F;
}

.skills-block__entity:first-child > p {
    margin-top: 0;
}

.skills-block__entity--level {
    display: flex;
}

.lvl_1 {
    height: 1rem;
    width: 1rem;
    margin: 0 0.3rem;
    border: 0.5rem solid #F15D2C;
    border-radius: 0.5rem;
}

.lvl_0 {
    height: 1rem;
    width: 1rem;
    margin: 0 0.3rem;
    border: 1px solid #F15D2C;
    border-radius: 0.5rem;
}

/* WORK EXPERIENCE */

.work-exp-container {
    height: 55rem;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-exp-container > p {
    font-weight: 400;
    font-size: 3.25rem;
    color: #7E7E7E;
}

.work-exp__row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.work-exp__element-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22rem;
    margin: 3rem 0;
    /* border: 1px solid black; */
}

.work-exp__element-box > p {
    margin: 0.5rem 0;
}

.work-exp__element--circle {
    height: 2.5rem;
    width: 2.5rem;
    box-shadow: 0.3rem 0.6rem 1.9rem #CD0EB24D;
    border: 0.5rem solid #CD0EB2;
    border-radius: 1.25rem;
    margin-bottom: 2rem;
}

.work-exp__element--title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #5F5F5F;
}

.work-exp__element--org-location {
    font-size: 1.25rem;
    font-weight: 400;
    color: #5F5F5F;
}

.work-exp__element--term {
    font-size: 1.25rem;
    font-weight: 400;
    color: #CD0EB2;
}

/* PROJECTS */